#root {
  max-width: 1280px;
}
.info {
  background-image: url("/home_pin.png");
  width: 42px;
  height: 73px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.popups {
  color: black;
}
.popups > div:last-child > div {
  display: flex;
}
.popups > div:last-child > div > div {
  margin: 10px;
}
@media screen and (min-width: 40em) {
  .appdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  aside {
    flex: 1;
  }
  .mapContainer {
    flex: 3;

  }
}
.mapContainer > div {
  top: 10%;
  height: 90%;
}
aside {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
aside div {
  display: flex;
  justify-content: center;
}
.mapContainer {
  height: 100vh;
}
ul {
  margin-block: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5vh;
  justify-content: center;
}
aside input {
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
li {
  list-style: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}